<h1 class="text-center">Infinite Loops Chess</h1>

<!--
<%# if flash[:error].present? %>
  <div class="alert alert-danger"><%# flash[:error] %></div>
<%# end %>
-->
<div class="row">
  <section class="user_info">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change avatar</a>
  </section>
</div>
<br />
<div class="col-10 center offset-1">
  <table id="chessboard">
    <tbody>

      <% [8, 7, 6, 5, 4, 3, 2, 1].each do |row| %>
        <tr>
          <% (1..8).each do |col| %>
            <td
              ' '
              id=<%="#{col}#{row}"%>
              ' '
            <% if (col + row).odd? %>
              class="white"
            <% else %>
              class="black"
            <% end %>   
            >
              <% piece_image = @game.render_piece(col, row) %>
              <% if piece_image.present? %>
                <% piece = Piece.get_piece_at_coor(col, row) %>
                <%= link_to piece_image, piece_path(piece.id) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
