<h1 class="text-center">Infinite Loops Chess</h1>
<div class="col-10 offset-1">
  <table id="chessboard">
    <tbody>
      <tr>
        <td id="a8" class="white"></td>
        <td id="b8" class="black"></td>
        <td id="c8" class="white"></td>
        <td id="d8" class="black"></td>
        <td id="e8" class="white"></td>
        <td id="f8" class="black"></td>
        <td id="g8" class="white"></td>
        <td id="h8" class="black"></td>
      </tr>
      <tr>
        <td id="a7" class="black"></td>
        <td id="b7" class="white"></td>
        <td id="c7" class="black"></td>
        <td id="d7" class="white"></td>
        <td id="e7" class="black"></td>
        <td id="f7" class="white"></td>
        <td id="g7" class="black"></td>
        <td id="h7" class="white"></td>
      </tr>
      <tr>
        <td id="a6" class="white"></td>
        <td id="b6" class="black"></td>
        <td id="c6" class="white"></td>
        <td id="d6" class="black"></td>
        <td id="e6" class="white"></td>
        <td id="f6" class="black"></td>
        <td id="g6" class="white"></td>
        <td id="h6" class="black"></td>
      </tr>
      <tr>
        <td id="a5" class="black"></td>
        <td id="b5" class="white"></td>
        <td id="c5" class="black"></td>
        <td id="d5" class="white"></td>
        <td id="e5" class="black"></td>
        <td id="f5" class="white"></td>
        <td id="g5" class="black"></td>
        <td id="h5" class="white"></td>
      </tr>
      <tr>
        <td id="a4" class="white"></td>
        <td id="b4" class="black"></td>
        <td id="c4" class="white"></td>
        <td id="d4" class="black"></td>
        <td id="e4" class="white"></td>
        <td id="f4" class="black"></td>
        <td id="g4" class="white"></td>
        <td id="h4" class="black"></td>
      </tr>                            
      <tr>                             
        <td id="a3" class="black"></td>
        <td id="b3" class="white"></td>
        <td id="c3" class="black"></td>
        <td id="d3" class="white"></td>
        <td id="e3" class="black"></td>
        <td id="f3" class="white"></td>
        <td id="g3" class="black"></td>
        <td id="h3" class="white"></td>
      </tr>
      <tr>
        <td id="a2" class="white"></td>
        <td id="b2" class="black"></td>
        <td id="c2" class="white"></td>
        <td id="d2" class="black"></td>
        <td id="e2" class="white"></td>
        <td id="f2" class="black"></td>
        <td id="g2" class="white"></td>
        <td id="h2" class="black"></td>
      </tr>                            
      <tr>                             
        <td id="a1" class="black"></td>
        <td id="b1" class="white"></td>
        <td id="c1" class="black"></td>
        <td id="d1" class="white"></td>
        <td id="e1" class="black"></td>
        <td id="f1" class="white"></td>
        <td id="g1" class="black"></td>
        <td id="h1" class="white"></td>
    </tr>
    </tbody>
  </table>
</div>
