#chessboard {
   width: 700px;
   height: 700px;
}

#chessboard tbody, #chessboard tr, #chessboard td {
   padding: 0;
   margin: 0;
}

td {
}

.white {
    background: url(chess-blues-white.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.black {
    background: url(chess-blues-black.png);
    background-size: cover;
    background-repeat: no-repeat;
}
