@import "bootstrap";

body{
  background: image_url("chess-by-water.jpg");
  background-repeat: no-repeat;
  color: white;
  font-family: Helvetica, Times;
  font-weight: bold;
}

#chessboard {
    width: 720px;
    height: 720px;
    margin: auto;
}

table td {
    width: 90px;
    height: 90px;
    vertical-align: middle;
    text-align: center;
    padding: 2px 0 5px 0;

    img {
      width: 83px;
      height: 83px;
    }
}



.white {
    background: image_url("chess-blues-white.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.black {
    background: image_url("chess-blues-black.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.center {
  margin: auto;
  width: 50%;
  padding: 5px;
}

#selected_square {
  border: 3px solid red;
}

.selected_square {
  border: 3px solid red;
}

span#piece {
  margin: auto;
}

#messages {
  font-family: Helvetica, Times;
  font-size: 36px;
  text-align: center;
  color: white;
}

