@import "bootstrap";

body{
  background: image_url("chess-by-water.jpg");
  color: white;
  font-family: Helvetica, Times;
}

#chessboard {
  width: 700px;
  height: 700px;
  margin: auto;
}

table td {
  width: 90px;
  height: 90px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}

.white {
  background: url(chess-blues-white.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.black {
    background: url(chess-blues-black.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.center {
  margin: auto;
  width: 50%;
  padding: 5px;
}

#selected_square {
  border: 3px solid red;
}
