@import "bootstrap";

.white {
    background: url(chess-blues-white.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.black {
    background: url(chess-blues-black.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.center {
  margin: auto;
  width: 50%;
  padding: 5px;
}